.my-title {
    color: #C9D1C8;
    padding: 0;
    left: 50%;
}

.my-buttons {
    list-style-type: none;
    position: fixed;
    color: #C9D1C8;
    left: 62%;
    display: inline-flex;
}

.my-link {
    color: #C9D1C8;
    text-decoration: none;
}

.my-padding2 {
    background-image: linear-gradient(to bottom right, #04042C, #304040);
}

.my-container {
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.my-child {
    height: 100%;
    scroll-snap-align: center;
    padding-top: 100px;
    background-image: linear-gradient(to bottom right, #04042C, #304040);
}

.my-home {
    padding-top: 250px !important;
    background-image: linear-gradient(to bottom right, #283655, #5B7065);
}

#bottom {
    bottom: 0 !important;
}