.my-page {
    height: 100%;
    max-width: 960px;
    margin: auto;
    box-shadow: 0px 0px 100px rgba(0,0,0,0.3);
}
.my-title {
    color: #C9D1C8;
    width: 35%;
    position: absolute;
    padding: 0;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}
.my-buttons {
    list-style-type: none;
    color: #C9D1C8;
    left: 50%;
    display: inline-flex;
}
.my-link {
    color: #C9D1C8;
    text-decoration: none;
}